.terraform/
# Ansible-related ignores
.vault_pass
ansible/hosts
ansible/prod-hosts
ansible/test-hosts
ansible/.cache/
*.retry
*.log
*.tmp

# SSH Keys
ansible/id_rsa
ansible/id_rsa.pub

# Terraform ignores
terraform.tfstate
terraform.tfstate.backup
.terraform/
