.terraform/
# Ansible-related ignores
.vault_pass
ansible/.cache/
*.retry
*.log
*.tmp

# SSH Keys
ansible/id_rsa
ansible/id_rsa.pub
# Terraform ignores
terraform.tfstate
terraform.tfstate.backup
.terraform/
